.savvy_header {
    min-height: auto;
    background-color: aquamarine;
    padding: 5vh 0;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background.jpeg);
    background-size: cover;
    background-position: top;
}

.btn-form {
    background-color: #29d9c2;
    border-radius: 200px !important;
}

.features {
    padding: 3rem 0;
}

.features .fa {
    color: #29d9c2 !important;
}

.cloudfeature {
    margin-top: 2rem;
}

.certified {
    padding: 3rem 0;
}

.tab-pane {
    padding: 20px;
}

.prices {
    padding: 3rem 0;
}

.pricenumber {
    background-color: #29d9c2;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin: 20px auto 5px auto;
    display: block;
    position: relative;
}

.silver {
    background-color: #29d9c2;
}

.pricenumber-n {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.silver2 {
    background-color: black;
}

.faq {
    padding: 3rem 0;
}

.tab-link {
    display: block !important;
    margin-left: 0 !important;
}

.footer_icon {
    color: #29d9c2;
    font-size: 2.5rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #29d9c2;
    color: white !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    color: #29d9c2;
    ;
}

.tabnav {
    border: 3px solid #e9ecef !important;
    color: grey !important;
}

input:focus {
    border: #29d9c2;
}

.textcolor {
    color: #29d9c2;
}

.cloud-budgets {
    padding: 3rem 0;
    position: relative;
}

.Cloude-Base {
    display: block;
    margin: auto;
}

.img-fluid {
    width: 100%;
}

@media only screen and (min-width: 1200px) {
    .tabcloud {
        margin-top: 45px !important;
    }
}